body{
	background-color:#000;
	
	
}
#header{
	text-align:center;
	height:40px;
	width:60%;
	margin-left:20%;
	background:#666;
	color:#CCC;

	
}
#chat{
	
	
	overflow:auto;
	
	
	
	
}

a{
	font-family:"Comic Sans MS", cursive;
	font-size:15px;
	color:#FFF;
}
#right_panel{
	border:double;
	position:absolute;
	margin-top:2%;
	margin-left:78%;
	width:20%;
	height:100%;
	background-color:#666;
	margin-right:2%;
}

#left_panel{
	border:double;
	position:absolute;
	margin-top:2%;
	margin-right:80%;
	width:20%;
	height:100%;
	background-color:#666;
	margin-right:2%;
}


#chat_area{
	border:double;
	border-color:#CCC;
	position:absolute;
	margin-top:2%;
	margin-left:24%;
background-color:#666;
	width:50%;


	
	
	
}
.textarea{
	
	max-width:80%;
	
	width:100%;
	margin-left:10%;
	height:25px;
	
	
	
	
}
#chat{
	width:100%;
	height:400px;
	font:Georgia, "Times New Roman", Times, serif;
	color:#00F;
	
	
	
}